<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center">Editer mon profil</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :first_name, label: "Prénom",
                      required: false %>
          <%= f.input :last_name, label: "Nom",
                      required: false %>
          <%= f.input :nickname, label: "Pseudo",
                      required: false %>
          <%= f.input :password, label: "Mot de passe",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation, label: "Confirmation du mot de passe",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password, label: "Mot de passe actuel",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :photo, as: :file, label: "Sélectionnez une photo" %>

        </div>

        <div class="form-actions">
          <%= f.button :submit, "Mettre à jour" %>
        </div>
      <% end %>

          <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger w-100" %>
          <%= link_to "Retour", :back %>
      </div>
    </div>

  </div>
