  <%= simple_form_for [@mercenary,@booking] do |form| %>
    <div>
      <%= form.input :mission_purpose, label: "Mission du mercenaire", required: true %>
    </div>

    <div>
      <%= form.input :mission_place, label: "Emplacement de la cible", required: true %>
    </div>

    <div>
      <%= form.input :start_date, html5: true, label: "Date de début" %>
    </div>

    <div>
      <%= form.input :end_date, html5: true, label: "Date de fin" %>
    </div>

    <div>
      <%= form.submit @booking.persisted? ? "Modifier le contrat" : "Recruter", class: "btn btn-primary" %>
    </div>
  <% end %>

<%= link_to "Retour", :back  %>
