<!-- app/views/bookings/_form.html.erb -->
<%= simple_form_for [@mercenary, @booking] do |form| %>
  <div>
    <%= form.input :mission_purpose, label: "Mission du mercenaire", required: true %>
  </div>

  <div>
    <%= form.input :mission_place, label: "Emplacement de la cible", required: true %>
  </div>

  <div data-controller="datepicker" data-booked-dates="<%= @booked_dates.to_json %>" data-turbo="false">
  <%= form.input :date_range,
                 label: "Plage de dates",
                 input_html: {
                   data: { "datepicker-target": "datepicker" },
                   class: "form-control",
                   value: @booking.persisted? ? "#{@booking.start_date.strftime('%d/%m/%Y')} to #{@booking.end_date.strftime('%d/%m/%Y')}" : "",
                   placeholder: "Sélectionnez une plage de dates"
                 } %>
  <input type="hidden" name="booking[start_date]" id="booking_start_date" data-datepicker-target="startDate" value="<%= @booking.start_date if @booking.persisted? %>">
  <input type="hidden" name="booking[end_date]" id="booking_end_date" data-datepicker-target="endDate" value="<%= @booking.end_date if @booking.persisted? %>">
</div>

  <div>
    <%= form.input :target_photo, as: :file, label: "Image de la cible" %>
  </div>

  <div>
    <%= form.submit @booking.persisted? ? "Modifier le contrat" : "Recruter", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "Retour", :back %>
