<div class="container">
  <h2>Mes réservations effectuées</h2>

  <% if @bookings.any? %>
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Mission</th>
          <th>Lieu</th>
          <th>Date de début</th>
          <th>Date de fin</th>
          <th>Mercenaire</th>
          <th>Employeur</th>
          <th>Prix total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking| %>
          <tr>
            <td><%= booking.mission_purpose %></td>
            <td><%= booking.mission_place %></td>
            <td><%= booking.start_date.strftime("%d/%m/%Y") %></td>
            <td><%= booking.end_date.strftime("%d/%m/%Y") %></td>
            <td><%= booking.mercenary.name %></td>
            <td><%= booking.mercenary.user.nickname %></td>
            <td><%= booking.total_price %> €</td>
            <% if booking.review.nil? %>
              <td><%= link_to "Ajouter un avis", new_booking_review_path(booking) %></td>
            <% else %>
              <td><%= link_to "Modifier l'avis",  edit_booking_review_path(booking_id: booking.id, id: booking.review.id) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Vous n’avez pas encore de réservations.</p>
  <% end %>

  <%= link_to "Réserver un mercenaire", mercenaries_path, class: "mb-5 btn btn-primary" %>

   <h2>Demandes de recrutement reçues</h2>

  <% if @recruitment_requests.any? %>
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Mission</th>
          <th>Lieu</th>
          <th>Date de début</th>
          <th>Date de fin</th>
          <th>Mercenaire</th>
          <th>Demandeur</th>
          <th>Prix total</th>
        </tr>
      </thead>
      <tbody>
        <% @recruitment_requests.each do |request| %>
          <tr>
            <td><%= request.mission_purpose %></td>
            <td><%= request.mission_place %></td>
            <td><%= request.start_date.strftime("%d/%m/%Y") %></td>
            <td><%= request.end_date.strftime("%d/%m/%Y") %></td>
            <td><%= request.mercenary.name %></td>
            <td><%= request.user.nickname %></td>
            <td><%= request.total_price %> €</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Aucune demande de recrutement pour vos mercenaires pour le moment.</p>
  <% end %>
</div>
