<h1>Créer un utilisateur</h1>

<%= form_with model: @user, url: users_path, method: :post, local: true do |form| %>

  <div>
    <%= form.label :email, "Email" %>
    <%= form.text_field :email, required: true %>
  </div>

  <div>
    <%= form.label :password, "Mot de passe" %>
    <%= form.password_field :password, required: true %>
  </div>

  <div>
    <%= form.label :password_confirmation, "Confirme le mot de passe" %>
    <%= form.password_field :password_confirmation, required: true %>
  </div>

  <div>
    <%= form.submit "Créer l'utilisateur" %>
  </div>

<% end %>
