<div class="home-container">
 <h1>Bienvenue <%= current_user&.nickname.presence || current_user&.email || "sur Mercenaries Hub" %></h1>
  <p>La plateforme qui vous permet de louer des mercenaires en toute simplicité.</p>
  <%= link_to "Découvrir", mercenaries_path, class: "btn btn-primary" %>
</div>
<div class="mercenaries-preview">
  <h2>Nos meilleurs mercenaires</h2>

  <div id="mercenaryCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <% @mercenaries.each_slice(3).with_index do |group, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <div class="row g-4 justify-content-center align-items-stretch">

            <% group.each do |mercenary| %>
              <div class="col-md-3">
                <%= link_to mercenary_path(mercenary), class: "mercenary-card-link" do %>
                  <div class="mercenary-card text-center">
                    <h3 class="no-margin"><%= mercenary.name %></h3>
                    <p class="no-margin mercenary-bio"><%= mercenary.specialty %></p>

                    <% if mercenary.picture.attached? %>
                      <div class="mercenary-image-container">
                        <%= cl_image_tag mercenary.picture.key, class: "no-margin mercenary-image" %>
                      </div>
                    <% end %>

                  </div>
                <% end %>
              </div>
            <% end %>

          </div>
        </div>
      <% end %>

    </div>

    <!-- Boutons de navigation -->
    <button class="carousel-control-prev" type="button" data-bs-target="#mercenaryCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Précédent</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#mercenaryCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Suivant</span>
    </button>

  </div>
</div>
