<h1>Liste des mercenaires disponibles</h1>

<div class="container">
  <div class="filters-container">
  <%= form_with(url: mercenaries_path, method: :get, local: true, class: "filter-form") do %>
    <div class="row align-items-end g-2 w-100">

      <div class="col-md-3">
        <%= label_tag :specialty, "Spécialité :", class: "form-label" %>
        <%= select_tag :specialty, options_for_select(Mercenary.pluck(:specialty).uniq, params[:specialty]), class: "form-control" %>
      </div>

      <div class="col-md-3">
        <%= label_tag :start_date, "Date de début :", class: "form-label" %>
        <%= date_field_tag :start_date, params[:start_date], class: "form-control" %>
      </div>

      <div class="col-md-3">
        <%= label_tag :end_date, "Date de fin :", class: "form-label" %>
        <%= date_field_tag :end_date, params[:end_date], class: "form-control" %>
      </div>

      <div class="col-md-2">
        <%= label_tag :order, "Trier par :", class: "form-label" %>
        <%= select_tag :order, options_for_select([["Prix croissant", "price_asc"], ["Prix décroissant", "price_desc"]], params[:order]), class: "form-control" %>
      </div>

      <div class="col-md-1 text-end">
        <%= submit_tag "Filtrer", class: "btn btn-primary w-100" %>
      </div>

    </div>
  <% end %>
</div>

<% if @mercenaries.any? %>
  <div class="mercenary-list">
    <% @mercenaries.each do |mercenary| %>
      <div class="mercenary-card">
        <% if mercenary.picture.attached? %>
          <%= cl_image_tag mercenary.picture.key, class: "mercenary-image" %>
        <% end %>
        <h2><%= mercenary.name %></h2>
        <p><strong>Spécialité :</strong> <%= mercenary.specialty %></p>
        <p><strong>Tarif journalier :</strong> <%= mercenary.price_per_day %>€</p>
        <p><strong>Localisation :</strong> <%= mercenary.address %></p>
        <p><%= mercenary.bio.truncate(100) %></p>

        <%= link_to "Voir plus", mercenary_path(mercenary), class: "btn btn-primary" %>
        <%= link_to "Réserver", new_mercenary_booking_path(mercenary), class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="no-mercenaries">
    <p>Aucun mercenaire disponible...</p>
  </div>
<% end %>
