<h1>Liste des mercenaires disponibles</h1>

<div class="mercenary-list">
  <% @mercenaries.each do |mercenary| %>
  <div class="mercenary-card">
    <% if mercenary.picture.attached? %>
      <%= cl_image_tag mercenary.picture.key %>
    <% end %>
    <h2><%= mercenary.name %></h2>
    <p><strong>Spécialité :</strong> <%= mercenary.specialty %></p>
    <p><strong>Tarif journalier :</strong> <%= mercenary.price_per_day %>€</p>
    <p><strong>Localisation :</strong> <%= mercenary.address %></p>
    <p><%= mercenary.bio.truncate(100) %></p>

    <%= link_to "Voir plus", mercenary_path(mercenary), class: "btn btn-primary" %>
    <%= link_to "Réserver", new_mercenary_booking_path(mercenary), class:"btn btn-danger" %>
  </div>
  <div>
  </div>
<% end %>
</div>
