<h1>Ajouter un mercenaire</h1>

<%= form_with model: @mercenary, url: mercenaries_path, method: :post, local: true do |form| %>
  <div>
    <%= form.label :name, "Nom du mercenaire" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :bio, "Biographie" %>
    <%= form.text_area :bio, required: false %>
  </div>

  <div>
    <%= form.label :photo_url, "URL de la photo" %>
    <%= form.text_field :photo_url %>
  </div>

  <div>
    <%= form.label :price_per_day, "Tarif journalier (€)" %>
    <%= form.number_field :price_per_day, required: true %>
  </div>

  <div>
    <%= form.label :address, "Adresse" %>
    <%= form.text_field :address, required: true %>
  </div>

  <div>
    <%= form.label :specialty, "Spécialité" %>
    <%= form.text_field :specialty, required: true %>
  </div>

  <div>
    <%= form.submit "Ajouter le mercenaire" %>
  </div>
<% end %>
