<div class="container">
  <div class="page-header">
    <h1><%= @mercenary.name %></h1>
  </div>

  <div class="mercenary-profile">
    <p>
      <i class="fa-solid fa-jedi" title="Spécialité"></i>
      <strong> : </strong><%= @mercenary.specialty %>
    </p>

    <p>
      <i class="fa-solid fa-user-ninja" title="Bio"></i>
      <strong> : </strong> <%= @mercenary.bio %>
    </p>

    <p>
      <i class="fa-solid fa-coins" title="Prix par jour"></i>
      <strong> : </strong> <%= number_to_currency(@mercenary.price_per_day, unit: "€") %> / jour</p>

    <p>
      <i class="fa-solid fa-map-location-dot" title="Adresse"></i>
      <strong> : </strong> <%= @mercenary.address %>
      </p>

    <% if @mercenary.picture.attached? %>
      <%= cl_image_tag @mercenary.picture.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <p>Aucune image disponible</p>
    <% end %>

    <!-- modifier car on n'accède pas au review ainsi -->
    <% if @reviews.present? %>
      <!-- on récupère les avis et les notes -->
      <% @ratings_array = []  %>
      <% @reviews.each do |review| %>
        <% @ratings_array << review.rating %>
      <% end %>
      <!-- affichage de la note -->
      <% @average_rating = @ratings_array.inject{ |sum, el| sum + el }.to_f / @ratings_array.size %>
      <p><% @average_rating.floor.times do %>
        <i class="fa-solid fa-star"></i>
      <% end %>
      <% (5 - @average_rating.floor).times do %>
        <i class="fa-regular fa-star"></i>
      <% end %>
      <%= "(#{@mercenary.reviews.count})" %> </p>
      <!-- affichage des avis -->
      <% @reviews.each do |review| %>
        <p><%= review.content %></p>
      <% end %>
    <% else %>
      <p>Pas d'avis pour ce mercenaire</p>
    <% end %>


    <!-- Vérifier si l'utilisateur connecté est le propriétaire avant d'afficher les boutons -->
    <% if current_user == @mercenary.user %>
      <div class="btn-container">
        <%= link_to "Modifier", edit_mercenary_path(@mercenary), class: "btn btn-primary" %>
        <%= link_to "Supprimer", mercenary_path(@mercenary), data: { turbo_confirm: "Es-tu sûr de vouloir supprimer ce profil de mercenaire ?", turbo_method: :delete }, class: "btn btn-danger" %>
      </div>
    <% else %>
      <div class="btn-container">
        <%= link_to "Recruter", new_mercenary_booking_path(@mercenary), class: "btn btn-danger" %>
      </div>
    <% end %>

    <!-- Ce bouton est accessible à tous -->
    <div class="back-button">
      <%= link_to "Retour à la liste", mercenaries_path, class: "btn btn-primary" %>
    </div>
 </div>
</div>
