<div class="container">
  <div class="page-header">
    <h1><%= @mercenary.name %></h1>
  </div>

  <div class="mercenary-profile">
    <p><strong>Spécialité :</strong> <%= @mercenary.specialty %></p>
    <p><strong>Bio :</strong> <%= @mercenary.bio %></p>
    <p><strong>Prix :</strong> <%= number_to_currency(@mercenary.price_per_day, unit: "€") %> / jour</p>
    <p><strong>Adresse :</strong> <%= @mercenary.address %></p>

    <% if @mercenary.picture.attached? %>
      <%= cl_image_tag @mercenary.picture.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <p>Aucune image disponible</p>
    <% end %>

    <% if @reviews.present? %>
      <h3>Avis</h3>
      <% @reviews.each do |review| %>
      <p><strong>Note :</strong> <%= review.rating %>/5</p>
      <p><%= review.content %></p>
      <% end %>
    <% else %>
      <h3>Avis</h3>
      <p>Aucun avis pour ce mercenaire.</p>
    <% end %>


    <!-- Vérifier si l'utilisateur connecté est le propriétaire avant d'afficher les boutons -->
    <% if current_user == @mercenary.user %>
      <div class="btn-container">
        <%= link_to "Modifier", edit_mercenary_path(@mercenary), class: "btn btn-primary" %>
        <%= link_to "Supprimer", mercenary_path(@mercenary), data: { turbo_confirm: "Es-tu sûr de vouloir supprimer ce profil de mercenaire ?", turbo_method: :delete }, class: "btn btn-danger" %>
      </div>
    <% else %>
      <div class="btn-container">
        <%= link_to "Réserver", new_mercenary_booking_path(@mercenary), class: "btn btn-primary" %>
      </div>
    <% end %>

    <!-- Ce bouton est accessible à tous -->
    <div class="back-button">
      <%= link_to "Retour à la liste", mercenaries_path, class: "btn btn-secondary" %>
    </div>
 </div>
</div>
