<%= simple_form_for [@booking, @review] do |form| %>
  <div>
    <%= form.input :content, as: :text, label: "Ajouter un avis", required: false %>
  </div>

  <div>
    <%= form.input :rating,
                   as: :select,
                   collection: 1..5,
                   label: "Ajouter une note",
                   required: true,
                   prompt: "Choisissez une note" %>
  </div>

  <div>
    <%= form.submit @review.persisted? ? "Modifier l’avis" : "Ajouter un avis", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "Retour", bookings_path %>
